<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="spellChecker" class="com.zxd.spring.test.learning.spell.check.SpellChecker"></bean>

    <bean id="textEditor" class="com.zxd.spring.test.learning.spell.check.TextEditor">
        <constructor-arg ref="spellChecker"/>
        <constructor-arg index="1" value="testString"/>
    </bean>
</beans>